@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
#h2_principal {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: boder;
  font-size: 30px;
  text-decoration: underline rgba(0, 0, 0, 0.438);
  text-align: center;
  padding: 10px;

}
header {
   
    padding: 0px;
    margin-top: 0px;
  
    width: 10vw;
    padding: 10px;
    
}

span#burguer {
    background-color:rgba(0, 0, 0, 0.274);
    display: block;
    color: white;
    text-align: center;
     cursor: pointer;
     padding: 10px;
}


span#burguer:hover {
    background-color:rgba(0, 0, 255, 0.541)
  
 
}
#h2_man {
  font-size: 40px;
}
h2#linha {

  padding: 20px;

}

menu {
    display:none;

    
}
menu > ul {
    list-style-type: none;
    text-align:left;
    
}
menu > ul > li > a {  
    display: block;
    padding: 5px;
    text-decoration: none;
  
    color:black;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid 1px black;
  padding: 10px;
}
menu > ul > li > a:hover {
   
    
}
main {
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    
}
footer {
    color: blue;
}
article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
}

footer {
    text-decoration: underline solid blue;
}
h2 {
    text-decoration: underline rgba(0, 0, 0, 0.5);
}

.tela-inteira {
    width: 100vw;
    height: 50vh;
    background-image: url("../estilo/conceito-de-colagem-de-html-e-css-com-pessoa_23-2150062008.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


