@charset "UTF-8";

        h1 {  
            color: rgb(228, 52, 52);
            font-family:Arial, Helvetica, sans-serif;
            font-size: 60px;
            text-align: center;
        }
    #h2_principal {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: boder;
            font-size: 30px;
            text-decoration: underline rgba(0, 0, 0, 0.438);
           text-align: center;
        }
       #h2_man {
        font-size: 40px;
       }
       h2#linha {
        text-decoration:underline rgba(0, 0, 0, 0.719)
        
       }
        {
        text-decoration:underline rgba(0, 0, 0, 0.719)
       }
       
        p {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: solid 1px black;
        }
      