@charset "UTF-8";

body {
    background-color: rgb(160, 255, 223);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(2, 43, 30) ;

}
h1#principal {
     text-align: center;
     background-color: rgb(72, 100, 72);
}

h2 {
   color: rgb(27, 122, 94);
}