@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-image:linear-gradient(to right,#3899a1, #FFD27F) ;
}

 main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #81cfa2e1;
    width: 600px;
    margin:auto;
 }

 h1 {
   color: #2b52b4;
   text-align: center;
   text-shadow: 1px 1px 2px #405da8af;
 }
 h2 {
    color:#205172 ;
 }

p {
    text-align: justify;
}
